html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family:$body-text-family;
  font-size:$font-size;
  line-height:normal;
  background-color: $body-background-color;
  width: 100%;

  @media (max-width:$breakpoint-phone-portrait) {
    font-size:$font-size-mobile;
  }

  &.admin-bar {
    .header {
      top:32px;
    }
  }

}

.header,
.footer {
  padding:0 1em;
}

.nobullets {
  @include nobullets;
}

.clearfloat:after {
    content:'';
    display:block;
    clear:both;
}

.customize-partial-edit-shortcut {
  display:none;
}
