html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:root {
  --font-size-mobile: 80%;
  --font-size: 100%;
  --header01-height:60px;
  --breakpoint-tablet:768px;
  --innercontainer-width:1250px;
  --footer-width:1250px;
}

body {
  font-family:$body-text-family;
  font-size:var(--font-size-mobile);
  line-height:normal;
  background-color: $body-background-color;

  @media (min-width:$breakpoint-phone) {
    font-size:var(--font-size);
  }

  &.admin-bar {
    header {
      top:32px;
    }
  }

}

header,
main,
footer {
  padding:0 1em;
}

header {
  height:$header-height;
}

main {
  margin:0 auto;
  max-width:var(--innercontainer-width);
}

.nobullets {
  @include nobullets;
}

.clearfloat:after {
    content:'';
    display:block;
    clear:both;
}

.customize-partial-edit-shortcut {
  display:none;
}