// effects

@mixin bgTransit {
  -webkit-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
}

.fadein {
  opacity: 1 !important;
  transition: opacity 0.4s;
}

.fadeout {
  opacity: 0 !important;
  transition: opacity 0.4s;
  display: none !important;
}

.lslidein {
  -webkit-animation: lslidein 0.5s forwards;
  animation: lslidein 0.5s forwards;
}

@-webkit-keyframes lslidein {
  100% {
    left: 0;
  }
}

@keyframes lslidein {
  100% {
    left: 0;
  }
}

.lslideout {
  -webkit-animation: lslideout 0.5s forwards;
  animation: lslideout 0.5s forwards;
}

@-webkit-keyframes lslideout {
  0% {
    left: 0;
  }
}

@keyframes lslideout {
  0% {
    left: 0;
  }
}

.dropdown {
  max-height: 500px !important;
  transition: max-height 0.5s ease-in !important;
}
