// Footer

$footer-background-color: #eeeeee;
$footer-links-color: #cfcfcf;
$footer-text-color: $body-text-color;
$footer-text-size:14px;

.footer {
  background-color:$footer-background-color;
  padding:2em 0;
  color:$footer-text-color;

  .inner {
    width:100%;
    max-width:$inner-container-width;
    margin:0 auto;

    @media (min-width:$breakpoint-phone-landscape){
      display: flex;
      flex-wrap: wrap;
    }

    & > div {
     padding:0 1em;
    }

    &.two > div {
      @media (min-width:$breakpoint-phone-landscape){
        width:50%;
      }
    }

    &.three > div {
      @media (min-width:$breakpoint-phone-landscape){
        width:50%;
      }
      @media (min-width:$breakpoint-tablet-portrait){
        width:33%;
      }

    }

    &.four > div {
      @media (min-width:$breakpoint-phone-landscape){
        width:50%;
      }
      @media (min-width:$breakpoint-tablet-portrait){
        width:25%;
      }
    }

  }

  p {
    font-size:$footer-text-size;
  }

  a {
    color:$footer-links-color;
  }

}