@import 'vars';
@import 'blocks';

body * , .editor-post-title__input {
  font-family: $body-text-family;
  font-weight: normal;
}

.block-editor-block-list__block[data-type="core/paragraph"] p {
  line-height:normal;
}

.wp-block,
.edit-post-visual-editor .editor-post-title,
.edit-post-visual-editor .editor-block-list__block {
 max-width:$inner-container-width;
}

.wp-block[data-align=full]{
 max-width: none;
}
