.header {
  position:fixed;
  width:100%;
  top:0;
  z-index: 9;
}

// mainmenu
.mobile_menu,
.mobile_close {
  display:block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.custom-logo-link {
  float:left;
  display: block;
  img {
    max-height: 60px;
    width: auto;
    padding:10px 0;
  }
}

.place_holder_logo {
  width:162px;
}

.mobile_menu,
.mobile_close {
  height:32px;
  float:right;

  @media (min-width:$breakpoint-tablet-landscape) {
    display:none;
  }

}

.mobile_close {
  opacity:0;
}

.hamburger{
  fill:#696969;
}

.headmenu {
  display:none;


  @media (min-width:$breakpoint-tablet-landscape) {
    display:block;
  }


}

header nav li a  {
  display:block;
  &:hover{
    cursor:pointer!important;
  }
}

