// main menu

.headmenu01 {
  display:none;

  @media (min-width:$breakpoint-tablet-landscape) {
    display:flex;
  }

  justify-content: center;

  li {

    a {
      @include transition;
      padding:21px;
      color:$header-link-color;

      &:hover {
        color:$header-link-color-hover;
      }

    }

  }

  .sub-menu {

    @include nobullets;

    display:flex;
    flex-column:column;
    display:none;

    li {

      background-color:$submenu-background-color;
      position: relative;

      &:hover {
        a {
          color:#FFFFFF;
        }
      }
    }

  }

  li:hover > .sub-menu {
    display: block;
    position: absolute;
  }
}

// mobile menu

.mobile_menu {

  @media (min-width:$breakpoint-tablet-landscape) {
    display:none;
  }

  text-align: center;

  .mobile_close {
    height:18px;
  }

  svg {
    height:30px;
  }

  .mobile_btn {

    display:inline-flex;
    padding:0.5em;
    align-items: center;

    .mobile_close {
      opacity:0;
      width:0;
      line {
        stroke:$mobilemenu-hamburger-color;
        stroke-width: 2px;
      }
      &.fadein {
        width:auto;
      }

    }

    .hamburger{
      fill:$mobilemenu-hamburger-color;
    }
  }

  .mobmenu {
    display:none;

    li {
      display:block;
      padding:0.5em;
      a, span {
        display: inline-block;
        vertical-align: middle;
      }

      // submenu
      li {
        display:none;
      }
      &.open {
        li {
          display:block;
        }
      }

    }

    svg {
      height:28px;
      polygon {
        fill:$mobilemenu-hamburger-color;
      }
    }

  }

  &.open {
    .mobmenu {
      display:block;
    }
  }

}








.headmenu {
  display:none;

  @media (min-width:$breakpoint-tablet-landscape) {
    display:block;
  }


}

header nav li a  {
  color:$header-links-color;
  display:block;
  &:hover{
    cursor:pointer!important;
  }
}

