// main menu

// Submenu Header
$submenu-background-color: #eeeeee;
$header-links-color: #000;
$header-current-link-color: #787878;

// Mobile menu
$mobilemenu-background-color: $submenu-background-color;
$mobilemenu-svg-height: 28px;
$mobilemenu-links-color: #FFFFFF;
$mobilemenu-hamburger-color: #000;
$mobilemenu-lvl1-background-color: darken($submenu-background-color, 6);


.nav {

  &__list{
    display:none;
    justify-content: center;

    @media (min-width:$breakpoint-tablet-landscape) {
      display:flex;
    }
  }

  &__item{

    &:hover > .sub-menu {
      display: block;
      position: absolute;
    }

    &.current-menu-item > .nav__link {
        color:$header-current-link-color;
    }

  }

  &__link{
    display:block;
    @include transition;
    padding:21px;
    color:$header-link-color;

    &:hover {
      color:$header-link-color-hover;
    }

  }


  .sub-menu {

    @include nobullets;
    display:none;

    li {

      background-color:$submenu-background-color;
      position: relative;

      &:hover {
        a {
          color:#FFFFFF;
        }
      }
    }

  }

}

// mobile menu

.mobile_menu {

  $blockClass:&;

  @media (min-width:$breakpoint-tablet-landscape) {
    display:none;
  }

  text-align:left;

  &__list{
    display:none;
  }

  #{$blockClass}__close-button{
    display:none;
  }

  &.open {
    #{$blockClass}__list{
      display:block;
    }

    #{$blockClass}__hamburger{
      display:none;
    }

    #{$blockClass}__close-button{
      display:block;
      line {
        stroke:$mobilemenu-hamburger-color;
        stroke-width: 2px;
      }
    }

  }

  &__item{

    $itemClass:&;
    display:inline-block;
    position: relative;
    width: 100%;


    &.dropdown {
      #{$blockClass}__list{
        display:none;
      }

      &.open {
        #{$blockClass}__list{
          display:block;
        }
      }

    }
  }

  &__link{
    display:block;
    padding:0.8em 0;
  }

  &__button{
    display:inline-flex;
    align-items: center;

    svg {
      height:$mobilemenu-svg-height;
      polygon {
        fill:$mobilemenu-hamburger-color;
      }
    }
  }

  .j-sub-trigger {
    height:$mobilemenu-svg-height;
    position: absolute;
    right:8px;
    top:0;
    svg{
      height:$mobilemenu-svg-height;
    }
  }

}
