.headmenu01 {
  @media (max-width:$breakpoint-tablet-landscape) {
    display:none;
  }

  display:flex;
  justify-content: flex-end;

  li {
    a {
      padding:21px;
    }

     &:hover {
      a {
        color:#FFFFFF;
      }
    }

  }

  .sub-menu {
    @include nobullets;
    display:flex;
    flex-column:column;
    display:none;

    li {
      position: relative;

      &:hover {
        a {
          background:rgba(black, 0.1);
          color:#FFFFFF;
        }
      }



    }

  }

  li:hover > .sub-menu {
    display: block;
    top:var(--header01-height);
    position: absolute;
  }
}

.headmenu01 > li:hover {
  background:rgba(black, 0.1);
}

.mobmenu {

  &::-webkit-scrollbar {
      display: none;
  }

  background-color:#696969;

  li {
    position:relative;
  }

  a {
    display:block;
    padding:8%;
    border-bottom:1px solid #FFF;
    font-size:1.2em;
    color:#FFFFFF;
  }

  width:256px;
  left:-256px;
  position:fixed;
  height:100%;
  top:0;
  overflow-y:scroll;
  z-index:10;

  @media (min-width:$breakpoint-phone) {
    width:316px;
    left:-316px;
  }

  @media (min-width:$breakpoint-tablet-landscape) {
    opacity:0;
  }

  li ul {
    max-height: 0;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    font-size:0.9em;
  }

  @media (min-width:$breakpoint-tablet-landscape) {
    opacity:0;
  }

  .menu-item-has-children span {
    position: absolute;
    top:10px;
    right:2%;
    background-image:url('./../images/icon_down.svg');
    height:40px;
    width:40px;
    display: block;
    padding:8%;
  }

}
