// mixins

@mixin nobullets() {
  list-style-type: none;
  margin:0;
  padding:0;
}

// Column behaviour

//$breakpoint-phone-small: 320px;
//$breakpoint-phone: 375px;
//$breakpoint-tablet-portrait: 770px;
//$breakpoint-tablet-landscape: 1026px;

//$breakpoint-phone-small: 320px;
//$breakpoint-phone: 414px;
//$breakpoint-tablet-portrait: 767px;
//$breakpoint-tablet-landscape: 1026px;


@mixin fourth() {

  width:100%;

  @media (min-width: $breakpoint-phone) {
      width:50%;
  }

  @media (min-width: $breakpoint-tablet-portrait) {
    width:25%;
  }

}

@mixin third() {
  width:100%;

  @media (min-width: $breakpoint-phone) {
    width:33%;
  }
}

@mixin double() {
  width:100%;
    @media (min-width: $breakpoint-phone) {
      width:50%;
    }
}

@mixin single() {
  width:100%;
}