.postgrid {
 display: flex;
 flex-wrap:wrap;
}

.postItem {
  flex-grow:3;
  padding:0.5em;
  width: 33%;

  @media (max-width: $breakpoint-tablet-portrait) {
    width: 50%;
  }

  @media (max-width: $breakpoint-phone) {
    width: 100%;
  }

  img {
    width:100%;
    display: block;
  }
}

.cta {
  background-color:#696969;
  color:#FFF;
  padding:1em;
  display:inline-block;
  margin:1em 0;

  &:hover {
    cursor: pointer;
    background-color:lighten(#696969, 9);
    color:#FFF;
  }

}
