.grid {
  display:grid;

  &.standard {
    grid-gap:$grid-gap;

    @media (min-width:$breakpoint-phone-landscape){
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width:$breakpoint-tablet-portrait){
      grid-template-columns: repeat(3, 1fr);
    }

  }
}

.flex {
  display:flex;
}

.listedPosts {
  margin:$grid-gap 0;
  div {
    width: 100%;
    max-width:520px;
    height: 260px;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  }
}

.cta {
  background-color:#696969;
  color:#FFF;
  padding:1em;
  display:inline-block;
  margin:1em 0;

  &:hover {
    cursor: pointer;
    background-color:lighten(#696969, 9);
    color:#FFF;
  }
}

.navigation.pagination {
  display:flex;
  justify-content: center;
  margin-bottom:1em;
}
