h1 {
  font-size:2em;
}
h2 {
  font-size:1.8em;
}
h3 {
  font-size:1.6em;
}
h4 {
  font-size:1.4em;
}
h5 {
  font-size:1.2em;
}
h6 {
  font-size:1em;
}

h1,h2,h3,h4,h5,h6 {
  margin:1rem 0;
}

p {
  color:$body-text-color;
  line-height:24px;
  font-size:$font-size;
  margin-bottom:$font-size;
}

a {
  text-decoration: none;
}

ul, ol {
  margin-left:18px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

