// Globally used variables

// breakpoints

$breakpoint-phone-portrait-small: 320px;
$breakpoint-phone-portrait: 414px;
$breakpoint-phone-landscape: 568px;
$breakpoint-tablet-portrait: 990px;
$breakpoint-tablet-landscape: 1024px;

// Body
$body-background-color: #FFF;
$body-text-family:Verdana, Geneva, sans-serif;
$body-text-color: #000;

// Root

$font-size-mobile: 80%;
$font-size: 16px;
$header01-height: 60px;
$inner-container-width: 1280px;
$footer-width: auto;

// Standard grid

$grid-gap: 1em;